* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

$savoy-blue: rgb(75, 97, 209);
$italian-flag-red: rgb(205, 33, 42);
$italian-flag-green: rgb(0, 140, 69);

body {
  min-width: 300px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  padding: 1rem;
}

.header__btn {
  display: block;
  padding: 0.5em 1em;
  margin: 0 auto;
  border: none;
  background: none;
  font-size: 1rem;
  text-decoration: underline;
  cursor: pointer;
}

.header__btn:hover,
.header__btn:focus {
  color: $savoy-blue;
}

.options-modal {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
  background-color: white;
  z-index: 10;
}

.options-form {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0 auto;
}

.options-form__label {
  font-size: 1rem;
  font-weight: bold;
}

.options-form__select {
  display: block;
  width: 170px;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  text-transform: capitalize;
}

.options-form__option {
  text-transform: capitalize;
}

.options-form__select--lowercase,
.options-form__select--lowercase .options-form__option {
  text-transform: lowercase;
}

.options-form__submit-btn {
  padding: 0.5em 1em;
  margin-top: 1rem;
  border: 1px solid $savoy-blue;
  background: none;
  font-size: 0.9rem;
  cursor: pointer;
}

.options-form__submit-btn:hover,
.options-form__submit-btn:focus {
  background-color: $savoy-blue;
  color: white;
}

.game {
  position: relative;
  margin: 0 auto;
  padding: 0.5rem 1rem;
}

.game__chosen-options {
  font-size: 1.2rem;
  text-align: center;
  text-transform: capitalize;
}

.game__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 1.5rem auto 0;
}

.game__label {
  font-size: 1.4rem;
}

.game__input {
  display: block;
  width: 25ch;
  padding: 0 0.25em;
  margin: 1rem 0 0.75rem;
  border: 1px solid rgb(0, 0, 0);
  font-size: 1.3rem;
  text-align: center;
}

.game__input:focus {
  border: 1px solid rgb(221, 189, 45);
  border-radius: 2px;
  outline: none;
}

.game__input:disabled {
  border-color: grey;
}

.game__input--error:focus {
  border: 1px solid $italian-flag-red;
  border-radius: 2px;
}

.game__accent-btn {
  width: 30px;
  height: 30px;
  margin: 0 0.35rem;
  font-size: 1rem;
  cursor: pointer;
}

.game__accent-btn:disabled {
  cursor: default;
}

.game__error-message {
  height: 1em;
  margin: 1rem 0;
  color: $italian-flag-red;
}

.timer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer__time-left {
  font-size: 1.1rem;
}

.timer__btn {
  padding: 0.5em 1em;
  margin-right: 0.5rem;
  background: none;
  font-size: 0.9rem;
  cursor: pointer;
}

.timer__btn--start {
  border: 1px solid $italian-flag-green;
}

.timer__btn--start:hover,
.timer__btn--start:focus {
  background-color: $italian-flag-green;
  color: white;
}

.timer__btn--pause {
  border: 1px solid $savoy-blue;
}

.timer__btn--pause:hover,
.timer__btn--pause:focus {
  background-color: $savoy-blue;
  color: white;
}

.score {
  margin-top: 1.75rem;
  font-size: 1.4rem;
  text-align: center;
}

.reveal-answer {
  margin-top: 1rem;
  text-align: center;
}

.reveal-answer__btn {
  padding: 0.5em 1em;
  border: 1px solid $savoy-blue;
  background: none;
  font-size: 0.9rem;
  cursor: pointer;
}

.reveal-answer__btn:hover,
.reveal-answer__btn:focus {
  background-color: $savoy-blue;
  color: white;
}

.reveal-answer__answer {
  margin-top: 0.25rem;
  font-size: 1.2rem;
}

@media (min-width: 700px) {
  .game__input {
    font-size: 1.5rem;
  }
}
