@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

$savoy-blue: rgb(75, 97, 209);
$savoy-blue-desaturated: hsl(230, 49%, 56%);
$sky-blue: skyblue;
$night-sky-blue: rgb(58, 75, 151);
$italian-flag-green: rgb(0, 140, 69);
$italan-flag-green-old: rgb(0, 135, 99);
$italian-flag-white: rgb(244, 245, 240);
$italian-flag-red: rgb(205, 33, 42);
$italian-flag-red-desaturated: hsl(357, 52.3%, 46.7%);
$yellow-gold: rgb(221, 189, 45);
$light-yellow: rgb(255, 255, 121);
$dark-grey: #121212;
$grey: rgb(194, 194, 194);
$light-grey: rgb(245, 245, 245);

$border-radius: 3px;

:root {
  --blue: #{$savoy-blue};
  --green: #{$italian-flag-green};
  --red: #{$italian-flag-red};
  --background: white;
  --text: black;
  --text-disabled: #{$dark-grey};
  --toggle-background: #{$sky-blue};
  --toggle-circle: #{$light-yellow};
  --select-label: black;
  --input-background: default;
  --input-background-disabled: #{$light-grey};
  --input-border: black;
  --input-highlight: #{$yellow-gold};
  --key-background: #{$light-grey};
  --key-background-disabled: #{darken($light-grey, 5)};
  --key-border: black;
  --key-border-disabled: #{$grey};
  --key-highlight: #{$savoy-blue};
  --answered-incorrectly-background: white;
}

.dark-mode {
  --blue: #{$savoy-blue-desaturated};
  --green: #{$italan-flag-green-old};
  --red: #{$italian-flag-red-desaturated};
  --background: #{$dark-grey};
  --text: #{darken($light-grey, 5)};
  --text-disabled: #{$grey};
  --toggle-background: #{$night-sky-blue};
  --toggle-circle: #{$light-grey};
  --select-label: #{$grey};
  --input-background: #{$dark-grey};
  --input-background-disabled: #{lighten($dark-grey, 5)};
  --input-border: #{$grey};
  --input-highlight: #{$italian-flag-white};
  --key-background: #{$dark-grey};
  --key-background-disabled: #{$dark-grey};
  --key-border: #{$grey};
  --key-border-disabled: #{lighten($dark-grey, 20)};
  --key-highlight: #{$savoy-blue-desaturated};
  --answered-incorrectly-background: #{lighten($dark-grey, 5)};
}

body,
input,
button,
select {
  font-family: "Roboto", sans-serif;
}

body {
  min-width: 300px;
  background-color: var(--background);
  color: var(--text);
  transition: all 0.25s ease-out;
}

.header {
  display: grid;
  grid-template-columns: minmax(50px, 1fr) minmax(150px, 350px) minmax(
      50px,
      1fr
    );
  padding: 1rem;
}

.header__modal-btn {
  grid-column: 2/3;
  display: block;
  margin: auto;
  border: none;
  background: none;
  color: var(--text);
  font-size: 1rem;
  text-decoration: underline;
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--blue);
  }
}

.theme-toggle {
  align-self: center;
  position: relative;
  width: 50px;
  height: 25px;
  border: none;
  border-radius: 15px;
  background-color: var(--toggle-background);
  cursor: pointer;

  &::after {
    position: absolute;
    left: 4px;
    top: 4px;
    content: "";
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: var(--toggle-circle);
    transition: all 0.25s ease-out;
  }

  &--dark::after {
    transform: translateX(25px);
  }
}

.options-modal {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
  background-color: var(--background);
  z-index: 10;
}

.options-form {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0 auto;
}

.options-form__label {
  color: var(--select-label);
  font-size: 1rem;
}

.options-form__select {
  display: block;
  width: 170px;
  margin-bottom: 0.5rem;
  border: 1px solid var(--input-border);
  border-radius: $border-radius;
  background-color: var(--background);
  color: var(--text);
  font-size: 1rem;
  text-transform: capitalize;
}

.options-form__option {
  text-transform: capitalize;

  &--lowercase,
  &--lowercase .options-form__option {
    text-transform: lowercase;
  }
}

.options-form__submit-btn {
  padding: 0.5em 1em;
  margin-top: 1rem;
  border: 1px solid var(--blue);
  border-radius: $border-radius;
  background: none;
  color: var(--text);
  font-size: 0.9rem;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--blue);
    color: white;
  }
}

.game {
  text-align: center;
  padding: 0.5rem 1rem;
  margin: 0 auto;
}

.game__chosen-options {
  font-size: 1.2rem;
  text-transform: capitalize;
}

.game__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 1.5rem auto 0;
}

.game__label {
  position: relative;
  font-size: 1.4rem;
}

.game__input {
  display: block;
  width: 25ch;
  padding: 0 0.25em;
  margin: 1rem 0 0.75rem;
  border: 1px solid var(--input-border);
  background-color: var(--input-background);
  color: var(--text);
  font-size: 1.3rem;
  text-align: center;
  font-weight: normal;

  &:focus {
    border: 1px solid var(--input-highlight);
    border-radius: $border-radius;
    outline: none;
  }

  &:disabled {
    border-color: grey;
    background-color: var(--input-background-disabled);
    color: var(--text-disabled);
  }

  &--error:focus {
    border: 1px solid var(--red);
    border-radius: 2px;
  }
}

.game__accent-btn {
  width: 30px;
  height: 30px;
  margin: 0 0.35rem;
  border: 1px solid var(--key-border);
  border-radius: $border-radius;
  background-color: var(--key-background);
  color: var(--text);
  font-size: 1rem;
  cursor: pointer;

  &:focus,
  &:hover {
    border: 1px solid var(--key-highlight);
  }

  &:disabled {
    border-color: var(--key-border-disabled);
    background-color: var(--key-background-disabled);
    color: var(--text-disabled);
    cursor: default;

    &:focus,
    &:hover {
      border: 1px solid var(--key-border-disabled);
    }
  }
}

.game__error-message {
  height: 1em;
  margin: 1rem 0;
  color: var(--red);
}

.timer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer__time-left {
  font-size: 1.1rem;
}

.timer__btn {
  padding: 0.5em 1em;
  margin-right: 0.5rem;
  border-radius: $border-radius;
  background: none;
  font-size: 0.9rem;
  cursor: pointer;

  &--start {
    border: 1px solid var(--green);
    color: var(--text);

    &:hover,
    &:focus {
      background-color: var(--green);
      color: white;
    }
  }

  &--pause {
    border: 1px solid var(--blue);
    color: var(--text);

    &:hover,
    &:focus {
      background-color: var(--blue);
      color: white;
    }
  }
}

.score {
  margin-top: 1.75rem;
  font-size: 1.4rem;
  text-align: center;
}

.reveal-answer {
  margin-top: 1rem;
}

.reveal-answer__btn {
  padding: 0.5em 1em;
  border: 1px solid var(--blue);
  border-radius: $border-radius;
  background: none;
  color: var(--text);
  font-size: 0.9rem;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--blue);
    color: white;
  }
}

.reveal-answer__answer {
  margin-top: 0.25rem;
  font-size: 1.2rem;
}

.game__modal-btn {
  margin-top: 1rem;
  border: none;
  background: none;
  color: var(--text);
  font-size: 0.9rem;
  text-decoration: underline;
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--blue);
  }
}

.answered-incorrectly {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.527);
}

.answered-incorrectly__modal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 1em;
  border-radius: $border-radius;
  background-color: var(--answered-incorrectly-background);
}

.answered-incorrectly__title {
  font-weight: bold;
}

.answered-incorrectly__list {
  max-height: 75vh;
  min-height: 200px;
  list-style: none;
  overflow: auto;
}

.answered-incorrectly__item {
  margin: 0.1em 0;
}

.answered-incorrectly__close-btn {
  align-self: center;
  padding: 0.5em 1em;
  margin-top: 0.5em;
  border: 1px solid var(--red);
  border-radius: $border-radius;
  background: none;
  color: var(--text);
  font-size: 0.9rem;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--red);
    color: white;
  }
}

@media (min-width: 700px) {
  .game__input {
    font-size: 1.5rem;
  }
}
